.tempimagemxy1m7-1-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    object-fit: cover;
    /* margin-right:400px; */
  }
  .deepverify {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 55px;
    font-family: var(--font-poppins);
  }
  .desktop-1-child {
    position: absolute;
    top: 111px;
    left: 24px;
    border-top: 2px solid var(--color-black);
    box-sizing: border-box;
    width: 1392px;
    height: 2px;
  }
  .desktop-1-item {
    position: absolute;
    top: 753px;
    left: 0;
    background-color: var(--color-black);
    width: 1440px;
    height: 326px;
  }
  .about-us{
    position: absolute;
    top: 50px;
    left: 1180px;
    font-weight: 600;
    display: inline-block;
    width: 196px;
    height: 41px;
    text-decoration: none;

  }
  .contact-us {
    position: absolute;
    top: 50px;
    left: 1180px;
    font-weight: 600;
    display: inline-block;
    width: 196px;
    height: 41px;
    text-decoration: none;
  }
  .about-us {
    color: black;
    left: 989px;
    width: 152px;
    height: 29px;
    text-decoration: none;
  }
  .mdiinstagram-icon {
    position: absolute;
    background-image: url('./mdi_instagram.svg');
    top: 896px;
    left: 1102px;
    width: 78px;
    height: 75px;
  }
  .deepverify-about-us-container {
    position: absolute;
    top: 807px;
    left: 30px;
    font-family: 'Poppins', sans-serif;
    line-height: 137.97%;
    color: var(--color-white);
  }
  .mdilinkedin-icon,
  .vector-icon {
    position: absolute;
    background-image: url('./mdi_linkedin.svg');
    top: 896px;
    left: 1205px;
    width: 73px;
    height: 72px;
  }
  .vector-icon {
    background-image:url('./Vector.svg') ;
    height: 5.76%;
    width: 3.89%;
    top: 88.28%;
    right: 5.63%;
    bottom: 5.96%;
    left: 90.49%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .follow-us {
    position: absolute;
    top: 853px;
    left: 1109px;
    font-size: 25px;
    line-height: 137.97%;
    font-weight: 300;
    color: var(--color-white);
  }
  .scan-detect {
    margin: 0;
    width:100%;
    /* justify-content: center; */
  }
  .scan-detect-container {
    position: absolute;
    top: 481px;
    left: 410px;
    font-size: var(--font-size-13xl);
    display: inline-block;
    text-align: center;
    width: 561px;
    height: 88px;
  }
  .by-submitting-data {
    position: absolute;
    top: 646px;
    left: 391px;
    font-size: 20px;
    font-weight: 600;
  }
  deepverify1 {
    margin: 0;
    font-weight: 600;
  }
  .desktop-1-inner,
  .eicheck-icon {
    position: absolute;
    top: 640px;
    left: 327px;
    width: 30px;
    height: 30px;
  }
  .desktop-1-inner {
    top: 321px;
    left: 335px;
    border-radius: 30px;
    width: 695px;
    height: 70px;
    mix-blend-mode: overlay;
  }
  .material-symbolsupload-icon {
    position: absolute;
    top: 337px;
    left: 361px;
    width: 45px;
    height: 39px;
    overflow: hidden;
  }
  .choose-the-file {
    position: absolute;
    top: 339px;
    left: 438px;
    font-size: var(--font-size-13xl);
    color: #383838;
  }
  .desktop-1,
  .desktop-2 {
    height: 1024px;
    overflow: hidden;
  }
  .desktop-1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    width: 1440px;
  }
  .desktop-2 {
    position: relative;
    width: 100%;
    background-image: url(./public/desktop--2@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    font-size: var(--font-size-11xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  

 .choose-the-file{
    width:480px;
    padding:4px;
    background-color: rgb(228, 228, 228);
    border:1px solid rgb(197, 191, 191);
    border-radius:8px;
    box-shadow: 0 4px 4px rgba(4, 4, 0, 0.25);

 }
#fileInput{
font-size: 20px;
margin-bottom: 8px;
margin-left:10px;

/* justify-content: space-between; */


}
.uploadBtn
{
    font-size: 20px;
}